body {
    background: rgb(74, 109, 74);
}

p {
    background: beige;
    color: rgb(117, 95, 70);
    font-family: "Caveat";
    font-size: 40px;
    border: 5px double rgb(117, 95, 70);
}